In [20]:
import pandas as pd
import numpy as np
import urllib
from bs4 import BeautifulSoup
import time
import re
# Use package tmdbsimple to extract data
import tmdbsimple as tmdb
# use "!pip install tmdbsimple" to install
tmdb.API_KEY = '302f3815bea132a8bfe0d7301c9065dd'
import random
import sys
import time
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import f1_score

In [25]:
# Function f1_genre
# input: two pandas dataframes, 
    # genre_real: predicted values
    # genre_predict: real values
# output: mean f1 score of each class
def f1_genres(genre_real, genre_predict):
    count_row = len(genre_real)
    if count_row == 0:
        print "No data in dataframe!"
        return
    if count_row != len(genre_predict):
        print "Different length of predicted and real dataframes!"
        return
    count_col = len(genre_real.columns)
    if count_col == 0:
        print "No data in dataframe!"
        return
    if count_col != len(genre_predict.columns):
        print "Different genres of predicted and real dataframes!"
        return
    score = 0
    for i in range(count_col):
        score += f1_score(genre_real[genre_real.columns.values[i]], genre_predict[genre_predict.columns.values[i]])
    score = score/count_col
    return(score)

In [26]:
genre = pd.read_csv('genre_final.csv',index_col=0)
genre.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Western,Documentary,...,Sci-Fi,Thriller,Short,Mystery,Sport,War,History,Music,Foreign,Other
imdb_ids,,,,,,,,,,,,,,,,,,,,,
113101,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
425473,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0.0
76759,1,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0.0
266543,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
411267,0,0,0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0.0

In [27]:
# genrate 2 datasets to test score function
genre_real = genre[:100]
genre_predict = genre[100:200]

In [29]:
%%time
f1_genres(genre, genre)

Wall time: 109 ms

1.0

In [13]:
# create a dataframe to store information of top 500 popular movies
columns = []
for i in range(len(genre.columns.values)):
    columns += [(genre.columns.values[i])]
index = range(len(genre)) 
genre_test = pd.DataFrame(index = index, columns=columns)
genre_test = genre_test.fillna(0)
genre_test.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Western,Documentary,...,Sci-Fi,Thriller,Short,Mystery,Sport,War,History,Music,Foreign,Other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
%%time
f1_genres(genre, genre_test)

Wall time: 109 ms

C:\Users\zhengguo\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0

In [15]:
# create a dataframe to store information of top 500 popular movies
columns = []
for i in range(len(genre.columns.values)):
    columns += [(genre.columns.values[i])]
index = range(len(genre)) 
genre_test1 = pd.DataFrame(index = index, columns=columns)
genre_test1 = genre_test1.fillna(1)
genre_test1.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Western,Documentary,...,Sci-Fi,Thriller,Short,Mystery,Sport,War,History,Music,Foreign,Other
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [17]:
%%time
f1_genres(genre, genre_test1)

Wall time: 102 ms

0.18506912392646158